.day {
  position: relative;
  flex: 1;
  &:global(.past) {
    opacity: 0.3;
  }
  &:global(.today) {

  }
  &:global(.current) {

  }
  :global(.dateWrapper) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: visible;
    .date {
      display: block;
      padding: 4px;
    }
  }
}
