.event {
  position: absolute;
  display: block;
  padding: 2px;
  z-index: 1;

  &:global(.expanded) {
    height: 23px;
  }
  &:global(.contracted) {
    height: 2px;
  }
  :global(.event-inner) {
    border-radius: 2px;
    background-color: green;
    background-clip: border-box;

    :global(.event-title) {
      margin: 0;
    }
  }
}
